table {
  border-collapse: collapse;
}

.cell {
  text-align:center;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  margin: 0px;
  padding: 0px;
}

.l {
  border-left: 1pt solid black;
}

.t {
  border-top: 1pt solid black;
}
