table {
  border-collapse: collapse;
}

.cell {
  text-align:center;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  margin: 0px;
  padding: 0px;
}

.l {
  border-left: 1pt solid black;
}

.t {
  border-top: 1pt solid black;
}


.slowlyAppear {
  -webkit-animation: slowlyAppear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyAppear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes slowlyAppear {
  from {opacity: 0;}
  to {opacity: 1;}
}


.slowlyDisappear {
  -webkit-animation: slowlyDisappear 0.5s linear; /* Chrome, Safari, Opera */
  animation: slowlyDisappear 0.5s linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyDisappear {
  from {opacity: 1;}
  to {opacity: 0;}
}

/* Standard syntax */
@keyframes slowlyDisappear {
  from {opacity: 1;}
  to {opacity: 0;}
}
