<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="ng-scope">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LinesOfAction</title>
        <meta name="description" content="LinesOfAction game">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <!--<script src="angular-dragdrop.min.js"></script>-->
        <script src="http://yoav-zibin.github.io/emulator/ngDraggable.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.min.js"></script>
        <script src="game.js"></script>
        <script src="gameLogic.js"></script>
        <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
        <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
        <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
        <style type="text/css"></style>
        <link rel="stylesheet" type="text/css" href="game.css">
    </head>
    <body ng-controller="Ctrl" class="ng-scope">
        <table class="board">
            <tr ng-repeat="row in board track by $index">
                <td ng-repeat="cell in row track by $index"
                    ng-drop="true"
                    ng-drop-success="onDropCallback($data, $event, $parent.$index, $index)"
                    ng-class="{cell: true, even: isEven($parent.$index, $index), odd: isOdd($parent.$index, $index)}"
                    ng-click="cellClicked($parent.$index, $index)">
                    <div ng-style="style[$parent.$index][$index]">
                        <img ng-class="{selectedChecker: isSelected($parent.$index, $index)}"
                             ng-show="board[$parent.$index][$index] === 'W'"
                             ng-drag="board[$parent.$index][$index]==='W' && turnIndex === 0"
                             ng-drag-success="onStartCallback($data, $event, $parent.$index, $index)"
                             src="white-checker.png">
                        <img ng-class="{selectedChecker: isSelected($parent.$index, $index)}"
                             ng-show="board[$parent.$index][$index] === 'R'"
                             ng-drag="board[$parent.$index][$index]==='R' && turnIndex === 1"
                             ng-drag-success="onStartCallback($data, $event, $parent.$index, $index)"
                             src="red-checker.png">
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>

